<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/assets/fontawesome-free-5.6.1-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/styles.css" rel="stylesheet" />
    <style>














        .white-text {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <section id="top-nav">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h2>LOGO</h2>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="offset-md-8">
                            <div>
                                <a href="" class="link-style">
                                    <i class="flaticon-twitter"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a href="" class="link-style">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-auto slideInLeft">
                    <li class="nav-item nav-line active">
                        <a class="nav-link  scroll" href="@Url.Action("Index", "Home")">What we Offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Index", "Projects")">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Messages","Users")">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("TopIdea","Projects")">Top Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Login", "Users")">Signin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <footer class="bg-dark text-white mt-4" style="padding: 2rem 0 0 0">
            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase font-weight-bold">FYP LOGO</h6>
                        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background: #f8f8f8">
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Projects</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background: #f8f8f8">
                        <p>
                            <a class="text-white" href="@Url.Action("PreviousProjects","Projects")">Developing Project</a>
                        </p>
                        <p>
                            <a class="text-white" href="@Url.Action("Index","Projects")">UnderDeveloping Projects</a>
                        </p>
                        <p>
                            <a class="text-white" href="@Url.Action("Index","Projects")">Top Ideas</a>
                        </p>
                        <p>
                            <a class="text-white" href="@Url.Action("Index","Projects")">Messages</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Follow</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background: #f8f8f8">
                        <p>
                            <a href="#!" class="text-white">Instagram</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Facebook</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">LinkedIn</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Twitter</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background: #f8f8f8">
                        <p>
                            <i class="fas fa-home mr-3 text-white"></i> University of Sargoda,Sargoda
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> uos@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +933349875662
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"></i> +923345678456
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2019 Copyright:
                <a href="@Url.Action("","Home")" class="text-white"> FYP Management System</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <script src="~/Content/assets/Bootstrap4/js/jquery.slim.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/poper.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/loadMoreResults.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/script.js"></script>
</body>
</html>
