<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/assets/fontawesome-free-5.6.1-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/assets/Bootstrap4/css/styles.css" rel="stylesheet" />
    <style>







        .white-text {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <section id="top-nav">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h2>LOGO</h2>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="offset-md-8">
                            <div>
                                <a href="" class="link-style">
                                    <i class="flaticon-twitter"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a class="link-style" href="#">
                                    <i class="flaticon-facebook-logo-button"></i>
                                </a>
                                <a href="" class="link-style">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-auto slideInLeft">
                    <li class="nav-item nav-line active">
                        <a class="nav-link  scroll" href="@Url.Action("Index", "Home")">What we Offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Index", "Projects")">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Messages","Users")">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#blog">Top Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="@Url.Action("Login", "Users")">Signin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <!-- Footer -->
        <footer class="page-footer font-small dark " style="background: cadetblue">
            <!-- Footer Elements -->
            <div class="container">
                <!-- Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12 py-5">
                        <div class="mb-5 text-center">
                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fab fa-twitter fa-lg  mr-md-5 mr-3 fa-2x" style="color: #ffffff"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="pin-ic">
                                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="background: darkcyan;color: #ffffff">
                © 2018 Copyright:
                <a href="@Url.Action("Index","Home")" style="color: #ffffff"> FYP Management System</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <script src="~/Content/assets/Bootstrap4/js/jquery.slim.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/poper.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/loadMoreResults.js"></script>
    <script src="~/Content/assets/Bootstrap4/js/script.js"></script>
</body>
</html>
