@model FYP.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="~/Content/assets/fontawesome-free-5.6.1-web/css/all.min.css" rel="stylesheet" />
<link href="~/Content/assets/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/font/flaticon.css" rel="stylesheet" />
<link href="~/Content/assets/Bootstrap4/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/assets/Bootstrap4/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/assets/Bootstrap4/css/styles.css" rel="stylesheet" />
<div class="container" id="login">
    <div class="row ">
        <div class="col-md-6 mx-auto mt-120">
            @if (ViewBag.ErrorMessage != null)
            {
                <p> @ViewBag.ErrorMessage</p>
            }
            <div class="card p-5">
                <h2 class="text-center bg-transparent">FYP Management System</h2>
                @using (Html.BeginForm("Login", "Users", new { c = ViewBag.Controller, a = ViewBag.Action }, FormMethod.Post, new { id = "loginform" }))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.RegisterId, "", new { @class = "form-control", placeholder = "RegisterId *", type = "number" })
                        <div class="text-center">
                            @Html.ValidationMessageFor(m => m.RegisterId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", placeholder = "Password *", type = "password" })
                        <div class="text-center">
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group">
                            <input type="checkbox" id="remeber-me" name="name" value="" />&nbsp;
                            <label for="remeber-me">Remember me</label>
                        </div>
                        <div class="ml-5">
                            <label class="ml-auto ">
                                <a href="#" class="link-style">
                                    Forget Password...!
                                </a>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                }
                <div class="text-center">
                    <label style="font-weight: bold">
                        <a href="@Url.Action("Register", "Users")" class="link-style">
                            Get Register Your Self
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/Bootstrap4/js/jquery.slim.min.js"></script>
<script src="~/Content/assets/Bootstrap4/js/bootstrap.min.js"></script>
<script src="~/Content/assets/Bootstrap4/js/poper.min.js"></script>
<script src="~/Content/assets/Bootstrap4/js/owl.carousel.min.js"></script>
<script src="~/Content/assets/Bootstrap4/js/loadMoreResults.js"></script>
<script src="~/Content/assets/Bootstrap4/js/script.js"></script>
